<div class="expressive-actor-select">
  <h2>{{title}}</h2>
  <div class="content">
    <div class="drag-area" id="drag-area">
      {{#if selectedActors.length}}
        <ul class="selected-actors-list">
          {{#each selectedActors}}
            <li class="selected-actor">
              <img class="actor-portrait clickable" data-uuid="{{this.uuid}}" src="{{this.img}}" alt="{{this.name}}" title="Open {{this.name}}'s sheet"/>
              <span class="actor-name">{{this.name}}</span>
              <div class="portrait-controls">
                <button class="select-portrait-folder" data-uuid="{{this.uuid}}" title="Select Portrait Folder">
                  <i class="fas fa-folder"></i>
                </button>
                <span class="portrait-path">{{this.portraitFolder}}</span>
              </div>
              <button class="remove-actor" data-uuid="{{this.uuid}}">×</button>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>Drag actors here</p>
      {{/if}}
    </div>
    <button class="refresh-button">Apply</button>
  </div>
</div>
