<div class="expressive-actor-select">
  <h2>{{title}}</h2>
  <div class="content">
    <div class="drag-area" id="drag-area">
      {{#if selectedActors.length}}
        <ul class="selected-actors-list">
          {{#each selectedActors}}
            <li class="selected-actor">
              <img class="actor-portrait" src="{{this.img}}" alt="{{this.name}}"/>
              <span class="actor-name">{{this.name}}</span>
              <button class="remove-actor" data-uuid="{{this.uuid}}">×</button>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>Drag actors here</p>
      {{/if}}
    </div>
    <button class="refresh-button">Refresh</button>
  </div>
</div>
