<div class="emotive-hud">
    {{#unless isMinimized}}
        <div class="portrait-container" style="--portrait-count: {{portraits.length}}; --grid-columns: {{columns}}">
            {{#each portraits}}
            <div class="portrait" data-actor-id="{{actorId}}" style="--portrait-ratio: {{emotivePortraitRatio}}">
                <img src="{{imgSrc}}" alt="{{name}}">
            </div>
            {{/each}}
        </div>
    {{/unless}}
    <div class="hud-controls">
        {{#if isGM}}
            <button class="control-button open-selector" title="Open Emotive HUD Actor Selector">
                <i class="fas fa-bars"></i>
            </button>
        {{/if}}
        <button class="control-button toggle-visibility" title="{{#if isMinimized}}Show{{else}}Hide{{/if}} Emotive HUD">
            <i class="fas fa-chevron-{{#if isMinimized}}up{{else}}down{{/if}}"></i>
        </button>
    </div>
</div>
